<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet" />

</head>
<body>
    <header class="amarillo padding-10">
        <section class="encabezado"> 
    
            <a href="/" class="logowidth"> <img src="images/logo-mercado-liebre.svg" > </a>
    
        <p class="encabezado-p"><input  type="text" name="Busqueda"><i class="fas fa-search"></i>
        <p class="titular center padding-top" ><i class="fas fa-hand-holding-usd"></i>Compra en Cuotas y sin tarjeta de crédito</p>
       </section>
    <nav class="nav-flex1">
    <ul class="ocultar nav-flex lista-sin-puntos" >
    <li ><a href="/ofertas" class="none">Ofertas</a></li>
    <li ><a href="/tiendasOficiales" class="none">Tiendas Oficiales</a></li>
    <li ><a href="/vender" class="none">Vender</a></li>
    <li ><a href="/ayuda" class="none">Ayuda</a></li> 
    </ul>
    
    <ul class="ocultar nav-flex lista-sin-puntos">
        <li><a href="/register" class="none">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a href="/login" class="none">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/misCompras" class="none"></i>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
    <div class="burger-menu burguer-color margin-burger shadow ocultar2" >
        <i class="fas fa-bars" ></i>
        </div>
        
    </nav>
    
    
    
    </header>
<main>
<form method=""  action="" class="padd">
    
    
<div class="padding-15">
    
    <input placeholder="Nombre y Apellido" type="text"  name="nombre" ></div>
    <div class="padding-15">
    
    <input placeholder="Nombre de usuari@" type="text"  name="usuario" ></div>
    <div class="padding-15">
    
    <input placeholder="Fecha de Nacimiento" type="date"  name="nacimiento" ></div>
    <div class="padding-15">
    
    <input placeholder="Domicilio"   name="domicilio" > </div>
    <div >
    <label class="padding-15" >Perfil del Usuario</label>
</div>
    <label class="padding-15"><input  type="radio"  name="venta" value="Vender" > Vender</label>
    <label class="padding-15"><input  type="radio"  name="compra" value="Comprar" > Comprar</label>
    <div class="padding-15 flex-checkbox">
    <label >Categorias de Interes</label >
    
    <label class="padding-top"><input  type="checkbox"  name="categorias-de-interes" value="Electro" >Electro</label>
    <label class="padding-top"><input  type="checkbox"  name="categorias-de-interes" value="Moda" >Moda</label>
    <label class="padding-top"><input  type="checkbox" name="categorias-de-interes" value="Hogar" > Hogar</label>
    <label class="padding-top"><input  type="checkbox"  name="categorias-de-interes" value="Jugeteria" >Jugeteria</label>
    <label class="padding-top"><input  type="checkbox"  name="categorias-de-interes" value="Vida-Sana" >Vida Sana</label>
</div>
    <div class="padding-15">
    <label for="foto">Carga tu Foto</label>
    <input  type="file" id="foto" name="foto" accept=".jpg"> </div>
    <div class="padding-15">
    
    <input placeholder="Contraseña" type="password" id="password" name="password"> </div>
    <div class="padding-15">
    
    <input placeholder="Repetir Contraseña" type="password" id="password1" name="password1"> </div>
    <div class="padding-15 ">
    <button class="visited" type="submit" ><a href="/">Enviar</a></button>

    <button type="reset" >Borrar</button>
</div>


</form>
</main>

<footer>

    <section class="foot-flex">
    <div ><p class="center">  <i class="fas fa-credit-card iconcolor mbottom color-change"></i></p>
    <h4 class="center precios ">Pagá con tarjeta o en efectivo</h4>
    
    <p class="texto center  mderecho mizquierdo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </div>
      <div>  <p class="center"><i class="fas fa-gift iconcolor mbottom color-change"></i></p>
    <h4 class="center precios">Envío gratis desde $ 2.500</h4>
    <p class="texto center  mderecho mizquierdo " >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos</p>
    </div>
       <div> <p class="center"><i class="fas fa-user-shield iconcolor mbottom color-change"></i></p>
    <h4 class="center precios">Seguridad, de principio a fin</h4>
    <p class="texto center mderecho mizquierdo ">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div>
    </section>
    <h4 class="texto mtop">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
    
    </footer>
</body>